<tr>
  <td>
    <%= render 'shared/title', title: article.title %>
    <%= link_to_if(can?(:update, article), 'Edit', edit_article_path(article)) {} %>
    <%= link_to_if(can?(:destroy, article), 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}) {} %>
    <br>
    <% if can?(:manage, Journal) %>

      <%= status_label(article, "locked?", "Receipt sent", "Receipt not sent").html_safe %>
      <%= status_label(article, "editor", "Editor assigned", "Editor not assigned").html_safe %>
      <%= status_label(article, "reviewers", "Reviewer assigned", "Reviewer not assigned").html_safe %>
      <%= status_label(article, "proofed?", "Proofed", "Not proofed").html_safe %>


    <% end %>

    <%= render 'shared/authors', article: article %>

    <%= "Pages #{article.pages}" if article.pages && !article.pages.empty? %>

    <%= link_to 'Abstract', article_abstract_path(article) %>
    <%= render "articles/attachments", article: article %>
  </td>
</tr>