<tr>
  <td>
    <%= render 'shared/title', title: article.title %>
    <%= link_to_if(can?(:update, article), 'Edit', edit_article_path(article)) {} %>
    <%= link_to_if(can?(:destroy, article), 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}) {} %>
    <br>
    <% if can?(:manage, Journal) %>

      <%= received_label(article).html_safe %>
      <%= editor_label(article).html_safe %>
      <%= proofed_label(article).html_safe %>

    <% end %>

    <%= render 'shared/authors', article: article %>

    <%= "Pages #{article.pages}" if article.pages && !article.pages.empty? %>

    <%= link_to 'Abstract', article_abstract_path(article) %>
    <%= render "articles/attachments", article: article %>
  </td>
</tr>