<div>
  <%= render 'shared/title', title: article.title %>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
  <%= render 'shared/authors', article: article %>

  <div class="article_pages">
    <%= "Pages #{article.pages}" %>
  </div>
  <div class="article_links">
    <%= link_to 'Abstract', article_abstract_path(article) %> |
    <%= render "articles/attachments", :article => article %>
  </div>
</div>



