<div>
  <%= render 'shared/title', title: article.title %>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_journal_article_path(@journal,article) %>
    <%= link_to 'Delete', journal_article_path(@journal,article), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
  <%= render 'shared/authors', article: article %>

  <div class="article_pages">
    <%= "Pages #{article.pages}" %>
  </div>
  <div class="article_links">
    <%= link_to 'Abstract', journal_article_abstract_path(@journal,article) %> |
    <%= render "articles/attachments", :journal => @journal, :article => article %>
  </div>
</div>



