<%= nested_form_for [@journal, @article], html: {class: "form-inline", multipart: true } do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>

  <div class="controls-row">
    <%= f.label :title, class: "span1" %>
    <%= f.text_field :title, class: "span9" %>
  </div>

  <% if can?(:manage, Journal) %>
    <div class="controls-row">
      <%= f.label :code, class: "span1" %>
      <%= f.text_field :code, class: "span4" %>
    </div>

    <div class="controls-row">
      <%= f.label :pages, class: "span1" %>
      <%= f.text_field :pages, class: "span4" %>
    </div>
  <% end %>

  <h5>Files attached to article</h5>
  <%= f.fields_for :attachments do |attachment_form| %>
    <div class="controls-row">
      <%= attachment_form.label :description, class: "span1" %>
      <%= attachment_form.text_field :description, class: "span2" %>
      <%= attachment_form.text_field :file, class: "span6", disabled: true if attachment_form.object.persisted? %>
      <%= attachment_form.file_field :file, class: "span6" if !attachment_form.object.persisted? %>
      <%= attachment_form.link_to_remove "Remove", class: "span1" %>
    </div>
  <% end %>
  <p><%= f.link_to_add "Attach another file", :attachments %></p>

  <h5>Abstract</h5>
  <%= f.fields_for :abstract do |abstract_form| %>
    <%= abstract_form.text_area :content, rows: "5", class: "span10", id: "abstract" %><br/><br/>
    <div class="controls-row">
      <%= abstract_form.label :keywords, class: "span1" %>
      <%= abstract_form.text_field :keywords, class: "span9" %>
    </div>
  <% end %>
  <script type="text/javascript">
//    $('#abstract').wysihtml5();
$('#abstract').wysihtml5('deepExtend', {
  stylesheets: ['/li3b_core/css/bootstrap.min.css'],
  toolbar: {
    speech: '<li>' +
        '<a class="btn" data-wysihtml5-command="insertSpeech" title="Voice input" href="javascript:;" unselectable="on"><i class="icon-volume-up"></i></a>' +
        '</li>',
    code:  function(locale, options) {
      return '<li><a class="btn" data-wysihtml5-command="formatInline" data-wysihtml5-command-value="code" href="javascript:;" unselectable="on"><i class="icon-th-large"></i></li>'
    },
    insertAnything:  function(locale, options) {
      return '<li>' +
          '<a class="btn" data-wysihtml5-command="insertHTML" href="javascript:;" data-toggle="modal" data-target="#insertAnythingModal" unselectable="on"><i class="icon-asterisk"></i></a>' +
          '<div id="insertAnythingModal" data-wysihtml5-dialog="insertHTML" class="modal hide fade">' +
          '<div class="modal-header">' +
          '<a class="close" data-dismiss="modal">&times;</a>' +
          '<h3>Insert Some Stuff</h3>' +
          '</div>' +
          '<div class="modal-body">' +
          '<textarea id="myJazz"></textarea>' +
          '</div>' +
          '<div class="modal-footer">' +
          '<a class="btn" href="javascript:;" data-dismiss="modal">Cancel</a>' +
          '<a class="btn btn-primary" data-dismiss="modal" data-wysihtml5-command="insertHTML" onClick="$(this).attr(\'data-wysihtml5-command-value\', $(\'#myJazz\').val()); $(\'#myJazz\').val(\'\')" data-wysihtml5-command-value="jazz" href="javascript:;" unselectable="on">Insert</a>' +
          '</div>' +
          '</div>' +
          '</li>';
    },
  },
  html: true,
  parserRules: {
    classes: {
      "middle": 1,
      "icon-beer": 1,
      "prettyprint": 1
    },
    tags: {
      code: {},
      pre: {},
      strong: {},
      em: {},
      i: {}
    }
  }
});
  </script>

  <h5>Authors</h5>
  <%= f.fields_for :authors do |authors_form| %>
    <div class="controls-row">
      <%= authors_form.label :initials, class: "span1" %>
      <%= authors_form.text_field :initials, class: "span1" %>
      <%= authors_form.label :first_name, class: "span1" %>
      <%= authors_form.text_field :first_name, class: "span2"  %>
      <%= authors_form.label :last_name, class: "span1" %>
      <%= authors_form.text_field :last_name, class: "span2"  %>
      <%= authors_form.label :email, class: "span1" %>
      <%= authors_form.text_field :email, class: "span2" %>
      <%= authors_form.link_to_remove "Remove", class: "span1"  %>
    </div>


  <% end %>
  <p><%= f.link_to_add "Add another author", :authors %></p>

  <% if can?(:manage, Journal) %>

    <div class="controls-row">
      <%= f.label :journal_id, class: "span1" %>
      <%= f.select :journal_id, options_from_collection_for_select(Journal.unpublished, :id, :year) %>
    </div>

    <div class="controls-row">
      <%= f.label :editor_id, class: "span1" %>
      <%= f.select :editor_id, options_from_collection_for_select(User.editors, :id, :email) %>
    </div>

    <div class="controls-row">
      <%= f.label :proofed %>
      <%= f.check_box :proofed %>
    </div>
    <div class="controls-row">
      <%= f.label :visible %>
      <%= f.check_box :visible %>
    </div>
    <div class="controls-row">
      <%= f.label :locked %>
      <%= f.check_box :locked %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>