<%= form_for([@journal, @article]) do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :code %>
  <%= f.text_field :code %>

  <%= f.label :pages %>
  <%= f.text_field :pages %>

  <%= f.label :supplementary_materials %>
  <%= f.text_field :supplementary_materials %>

  <%= f.label :supporting_information %>
  <%= f.text_field :supporting_information %>

  <%= f.fields_for :abstract do |abstract_form| %>
      <li>
        <%= abstract_form.check_box :_destroy if abstract_form.object.persisted? %>
        <%= abstract_form.label :content %>
        <%= abstract_form.text_field :content %>

        <%= abstract_form.label :keywords %>
        <%= abstract_form.text_field :keywords %>

      </li>
  <% end %>

  <%= f.fields_for :authors do |authors_form| %>
    <li>
      <%= authors_form.label :first_name %>
      <%= authors_form.text_field :first_name %>
    </li>
  <% end %>

  <%= f.submit %>
<% end %>