<%= form_for([@journal, @article]) do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :code %>
  <%= f.text_field :code %>

  <%= f.label :pages %>
  <%= f.text_field :pages %>

  <%= f.label :supplementary_materials %>
  <%= f.text_field :supplementary_materials %>

  <%= f.label :supporting_information %>
  <%= f.text_field :supporting_information %>

  <%= f.label :pdf %>
  <%= f.file_field :pdf if @article.pdf.blank? %>
  <%= f.label :remove_pdf, @article.pdf if !@article.pdf.blank? %>
  <%= f.check_box :remove_pdf if !@article.pdf.blank? %>

  <%= f.fields_for :abstract do |abstract_form| %>
      <li>
        <%= abstract_form.check_box :_destroy if abstract_form.object.persisted? %>
        <%= abstract_form.label :content %>
        <%= abstract_form.text_area :content %>

        <%= abstract_form.label :keywords %>
        <%= abstract_form.text_field :keywords %>

      </li>
  <% end %>


  <table>
    <tr>
      <td>
        Initials
      </td>
      <td>
        First name
      </td>
      <td>
        Last name
      </td>
      <td>
        Email
      </td>
      <td>
        Delete
      </td>
    </tr>

    <%= f.fields_for :authors do |authors_form| %>
      <tr>
        <td>
          <%= authors_form.text_field :initials %>
        </td>
        <td>
          <%= authors_form.text_field :first_name %>
        </td>
        <td>
          <%= authors_form.text_field :last_name %>
        </td>
        <td>
          <%= authors_form.text_field :email %>
        </td>
        <td>
          <%= authors_form.check_box :_destroy if authors_form.object.persisted? %>
        </td>
      </tr>
    <% end %>
    <tr><td colspan="4">
      <%= link_to 'Add author', journal_article_authors_path(@journal,@article), method: :post if @article.persisted? %>
    </td></tr>
  </table>

  <%= f.submit %>
<% end %>