<%= nested_form_for [@journal, @article], html: {class: "form-inline", multipart: true } do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>

  <div class="controls-row">
    <%= f.label :title, class: "span1" %>
    <%= f.text_field :title, class: "span9" %>
  </div>

  <% if can?(:manage, Journal) %>
    <div class="controls-row">
      <%= f.label :code, class: "span1" %>
      <%= f.text_field :code, class: "span4" %>
    </div>

    <div class="controls-row">
      <%= f.label :pages, class: "span1" %>
      <%= f.text_field :pages, class: "span4" %>
    </div>
  <% end %>

  <h5>Files attached to article</h5>
  <%= f.fields_for :attachments do |attachment_form| %>
    <div class="controls-row">
      <%= attachment_form.label :description, class: "span1" %>
      <%= attachment_form.text_field :description, class: "span2" %>
      <%= attachment_form.text_field :file, class: "span6", disabled: true if attachment_form.object.persisted? %>
      <%= attachment_form.file_field :file, class: "span6" unless attachment_form.object.persisted? %>
      <%= attachment_form.link_to_remove "Remove", class: "span1" %>
    </div>
  <% end %>
  <p><%= f.link_to_add "Attach another file", :attachments %></p>

  <h5>Abstract</h5>
  <%= f.fields_for :abstract do |abstract_form| %>
    <%= abstract_form.text_area :content, rows: "5", class: "span10", id: "abstract" %><br/><br/>
    <div class="controls-row">
      <%= abstract_form.label :keywords, class: "span1" %>
      <%= abstract_form.text_field :keywords, class: "span9" %>
    </div>
  <% end %>


  <h5>Authors</h5>
  <div class="controls-row">
    <table class = "span10">
      <thead>
        <tr>
          <td>Initials</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td></td>
        </tr>
      </thead>
      <%= f.fields_for :authors do |authors_form| %>
        <tr>
          <td>
            <%= authors_form.text_field :initials, class: "input-small"  %>
          </td>
          <td><%= authors_form.text_field :first_name, class: "input-small" %></td>
          <td><%= authors_form.text_field :last_name, class: "input-small" %></td>
          <td><%= authors_form.text_field :email, class: "input-small" %></td>
          <td><%= authors_form.link_to_remove "Remove" %></td>
        </tr>
      <% end %>
    </table>

  <p><%= f.link_to_add "Add another author", :authors %></p>
  </div>
  <% if can?(:manage, Journal) %>

    <div class="controls-row">
      <%= f.label :journal_id, class: "span1" %>
      <%= f.select :journal_id, options_from_collection_for_select(Journal.unpublished, :id, :year) %>
    </div>

    <div class="controls-row">
      <%= f.label :editor_id, class: "span1" %>
      <%= f.select :editor_id, options_from_collection_for_select(User.editors, :id, :email), prompt: 'Assign Editor' %>
    </div>

    <div class="controls-row">
      <%= link_to('Send receipt confirmation', received_article_path(@article)) if @article.persisted? && !@article.locked %>
    </div>

    <div class="controls-row">
      <%= f.label :proofed %>
      <%= f.check_box :proofed %>
    </div>
    <div class="controls-row">
      <%= f.label :visible %>
      <%= f.check_box :visible %>
    </div>
    <div class="controls-row">
      <%= f.label :locked %>
      <%= f.check_box :locked %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>