<%= form_for([@journal, @article]) do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :code %>
  <%= f.text_field :code %>

  <%= f.label :pages %>
  <%= f.text_field :pages %>

  <!--<%= f.label :pdf %>-->
  <!--<%= f.file_field :pdf if @article.pdf.blank? %>-->
  <!--<%= f.label :remove_pdf, @article.pdf if !@article.pdf.blank? %>-->
  <!--<%= f.check_box :remove_pdf if !@article.pdf.blank? %>-->

  <table>
    <tr>
      <td>Description</td>
      <td>File</td>
      <td>Delete</td>
    </tr>
    <%= f.fields_for :attachments do |attachment_form| %>
      <tr>
        <td>
          <%= attachment_form.text_field :description %>
        </td>
        <td>
          <%= attachment_form.file_field :file if !attachment_form.object.persisted? %>
          <%= attachment_form.label :file, attachment_form.object.file_name_ext if attachment_form.object.persisted? %>
        </td>
        <td>
          <%= attachment_form.check_box :_destroy if attachment_form.object.persisted? %>
        </td>
      </tr>
    <% end %>
    <tr><td colspan="3">
      <%= link_to 'Add attachment', new_attachment_journal_article_path if @article.persisted? %>
    </td></tr>
  </table>


  <%= f.fields_for :abstract do |abstract_form| %>
      <li>
        <%= abstract_form.label :content %>
        <%= abstract_form.text_area :content %>

        <%= abstract_form.label :keywords %>
        <%= abstract_form.text_field :keywords %>

      </li>
  <% end %>


  <table>
    <tr>
      <td>
        Initials
      </td>
      <td>
        First name
      </td>
      <td>
        Last name
      </td>
      <td>
        Email
      </td>
      <td>
        Delete
      </td>
    </tr>

    <%= f.fields_for :authors do |authors_form| %>
      <tr>
        <td>
          <%= authors_form.text_field :initials %>
        </td>
        <td>
          <%= authors_form.text_field :first_name %>
        </td>
        <td>
          <%= authors_form.text_field :last_name %>
        </td>
        <td>
          <%= authors_form.text_field :email %>
        </td>
        <td>
          <%= authors_form.check_box :_destroy if authors_form.object.persisted? %>
        </td>
      </tr>
    <% end %>
    <tr><td colspan="4">
      <%= link_to 'Add author', new_author_journal_article_path if @article.persisted? %>
    </td></tr>
  </table>

  <%= f.submit %>
<% end %>