<%= nested_form_for [@journal, @article], html: {class: "form-inline", multipart: true } do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>

  <div class="controls-row">
    <%= f.label :title, class: "span1" %>
    <%= f.text_field :title, class: "span4" %>
  </div>

  <div class="controls-row">
    <%= f.label :code, class: "span1" %>
    <%= f.text_field :code, class: "span4" %>
  </div>

  <div class="controls-row">
    <%= f.label :pages, class: "span1" %>
    <%= f.text_field :pages, class: "span4" %>
  </div>

  <h5>Files attached to article</h5>
  <%= f.fields_for :attachments do |attachment_form| %>
    <div class="controls-row">
      <%= attachment_form.label :description, class: "span1" %>
      <%= attachment_form.text_field :description, class: "span4" %>
      <%= attachment_form.text_field :file, class: "span4", disabled: true if attachment_form.object.persisted? %>
      <%= attachment_form.file_field :file, class: "span4" if !attachment_form.object.persisted? %>
      <%= attachment_form.link_to_remove "Remove" %>
    </div>
  <% end %>
  <p><%= f.link_to_add "Add an attachment", :attachments %></p>

  <h5>Abstract</h5>
  <%= f.fields_for :abstract do |abstract_form| %>
    <%= abstract_form.text_area :content, rows: "5", class: "span10" %><br/><br/>
    <div class="controls-row">
      <%= abstract_form.label :keywords, class: "span1" %>
      <%= abstract_form.text_field :keywords, class: "span9" %>
    </div>
  <% end %>

  <h5>Authors</h5>
  <%= f.fields_for :authors do |authors_form| %>
    <div class="controls-row">
      <%= authors_form.label :initials %>
      <%= authors_form.text_field :initials, class: "span1" %>
      <%= authors_form.label :first_name %>
      <%= authors_form.text_field :first_name, class: "span2"  %>
      <%= authors_form.label :last_name %>
      <%= authors_form.text_field :last_name, class: "span2"  %>
      <%= authors_form.label :email %>
      <%= authors_form.text_field :email, class: "span3"  %>
      <%= authors_form.link_to_remove "Remove" %>
    </div>


  <% end %>
  <p><%= f.link_to_add "Add an author", :authors %></p>


  <%= f.submit %>
<% end %>