<div id="menu">
  <ul class="unstyled">
    <li><%= link_to 'Home', home_path %></li>
    <li><%= link_to 'About the journal', about_path %></li>
    <li><%= link_to 'Guidelines for authors', guidelines_path %></li>
    <li><%= link_to 'Papers in preparation', papers_path %></li>
    <li><%= link_to_if(can?(:create, Article), 'Submit an Article', submit_path) {} %></li>
    <li><%= link_to_if(can?(:manage, Journal), 'Journals index', journals_path) {} %></li>
    <% Journal.published.each do |journal| %>
      <li>&#9658;
        <%= link_to "#{journal.volume}(#{journal.issue}) #{journal.year}", journal %>
      </li>
    <% end %>
  </ul>

</div>