<%= link_to 'Back to Journal', journal_path(params[:journal_id]) %>


<%= render 'shared/title', title: Article.find(params[:article_id]).title %>

<%= render 'shared/authors', article: Article.find(params[:article_id]) %>

<div class="abstract_content">
  <%= @abstarct.content.html_safe %>
</div>

<div class="abstract_keywords">
  Keywords:<br/>
  <%= @abstarct.keywords %>
</div>

<%= link_to 'Back to Journal', journal_path(params[:journal_id]) %>