<%= link_to 'Back to Journal', journal_path(@article.journal) %><br/>


<%= render 'shared/title', title: @article.title %>

<%= render 'shared/authors', article: @article %>

<div class="abstract_content">
  <%= @abstract.content.html_safe %>
</div>

<div class="abstract_keywords">
  Keywords:<br/>
  <%= @abstract.keywords %>
</div>

