<%= link_to 'Back to Journal', journal_path(@journal) %><br/>


<%= render 'shared/title', title: @article.title %>

<%= render 'shared/authors', article: @article %>

<div class="abstract_content">
  <%= @abstarct.content.html_safe %>
</div>

<div class="abstract_keywords">
  Keywords:<br/>
  <%= @abstarct.keywords %>
</div>

<%= link_to 'Back to Journal', journal_path(@journal) %>