<tr>
  <td><%= journal.volume %></td>
  <td><%= journal.issue %></td>
  <td><%= journal.pages %></td>
  <td><%= journal.month %></td>
  <td><%= journal.year %></td>
  <td><%= link_to '<button class="btn btn-mini btn-info" type="button">Show</button>'.html_safe, journal %></td>
  <% if can?(:manage, Journal) %>
    <td>
      <%= link_to publish_toggle_link_text(journal).html_safe, publish_toggle_journal_path(journal),
                  data: {confirm: 'Are you sure?'}, remote: true, id: "publish_toggle_link_#{journal.id}" %>
    </td>
    <td>
      <%= link_to visible_toggle_link_text(journal).html_safe, visible_toggle_journal_path(journal),
                  data: {confirm: 'Are you sure?'}, remote: true, id: "visible_toggle_link_#{journal.id}" %>
    </td>

    <td><%= link_to '<button class="btn btn-mini btn-warning" type="button">Edit</button>'.html_safe,
                    edit_journal_path(journal) %></td>

    <td><%= link_to '<button class="btn btn-mini btn-danger" type="button">Delete</button>'.html_safe,
                    journal, method: :delete, data: {confirm: 'Are you sure?'} %></td>

  <% end %>

</tr>