<tr>
  <td><%= journal.volume %></td>
  <td><%= journal.issue %></td>
  <td><%= journal.pages %></td>
  <td><%= journal.month %></td>
  <td><%= journal.year %></td>
  <td><%= journal.published? ? 'yes' : 'no' %></td>
  <td><%= link_to 'Show', journal %></td>
  <td><%= link_to_if(can?(:manage, journal), 'Edit', edit_journal_path(journal)) {} %></td>
  <td><%= link_to_if(can?(:manage, journal), 'Delete', journal, method: :delete,
                     data: {confirm: 'Are you sure?'}) {} %></td>
</tr>