<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="user_nav">
    <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Edit profile", edit_user_registration_path %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or
        <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </div>
  <div class='container-fluid'>
    <% flash.each do |key,value| %>
      <%= content_tag(:div,value, class: "alert alert-#{key}") %>
    <% end %>
    <div class="row-fluid">
      <div class="span2">
        <%= render 'shared/menu', journals: all_journals %>
      </div>
      <div class="span10">
        <%= yield %>
      </div>
    </div>


    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
